.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-style: groove;
  background-color: cornflowerblue;
}

.main-blocked {
  user-select: none;
  pointer-events: none;
}

#clicks-num {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  padding: 10px;
}

#paint-area {
  border: black 5px solid;

}

#app-root {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  gap: 20px;
}