:root {
  --z: 1;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-style: groove;
  background-color: cornflowerblue;
}

.main-blocked {
  user-select: none;
  pointer-events: none;
}

#container-msg {
  z-index: calc(var(--z)*100);
}

#clicks-num {
  position: absolute;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  user-select: none;
  font-size: 2vw;
  font-weight: bolder;
  cursor: move;
  z-index: var(--z);
  will-change: transform;
}

#paint-area {
  border: black 5px solid;
  margin: 0 auto;
}

#click-paint-app {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
  overflow: hidden;
}