/*main-blocked*/

#wordseek-app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    min-width: 50vw;
    max-width: 100vw;
    max-height: 100vh;
}

#grid {
    display: grid;
    width: 90vw;
    height: 90vh;
    background: #3a0202;
}

#grid > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10, 9%);
    background: #ae5e5e;
    align-items: center;
    justify-content: center;
}

#grid > div > span {
    display: grid;
    background: white;
    height: 70%;
    width: 70%;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: larger;
}